@charset "UTF-8";

*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #1C5D99;
}

.img-perfil{
    text-align: center;
    border-radius: 200px;
}

h1{
    color: #FAFAFA;
    text-align: center;
}

h2{
    color: #bebebe;
    text-align: center;
    font-size: 20px;
}

p{
    color: #FAFAFA;
    text-align: center;
}

a{
    text-decoration: none;
    border-radius: 100px;
}

.conteudo{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    background-color: #00b0b9a6;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 100px;
    padding: 3px;
    height: 100px;
    width: 800px;
}

.cont-link{
    text-align: center;
    font-size: 20px;
    color: #FAFAFA;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    height: 100px;
    width: 200px;
}

.cont-link:hover{
    background-color: #1c5f9c;
}