.buttonHome {
    padding: 10px;
    color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background-color: black;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
}

.inicio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
}

.inicio > div {
    width: 100%;
}

.divEsquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.divDireita {
    display: flex;
    justify-content: center;
}

.divDireita > img {
    width: 35%;
}