@charset "UTF-8";

*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #1C5D99;
}

main{
    margin: auto;
    width: 700px;
    height: 700px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #0c2842;
    background-color: #FAFAFA;
}

.cont-emblemas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.p-emblema{
    text-align: center;
    color: #91909025;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    margin-top: 50px;
}

.p-sobre{
    text-align: justify;
    text-indent: 50px;
}