@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@media(max-width: 550px){
    main> section> .titulo .skill{
        font-size: 10px;
    }
}

:root {
    --color01: #6C6AF7;
    --color02: #2321F5;
    --color03: #1C19C2;
    --color04: #110F75;
    --color05: #343275;

    --fontTitulo: 'Ubuntu', sans-serif;
    --fontPadrao: 'Quicksand', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color02);
    font-family: var(--fontPadrao);
    margin: 0px;
}

header {
    background-color: var(--color03);
    min-width: none;
}

header > nav{
    box-shadow: 0px 7px 7px rgb(0 0 0 / 43%);
    background-color: var(--cor5);
    text-align: center;
    max-height: 90px;
    padding: 20px;
}

header > nav > a {
    text-decoration: none;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 80px;
    color: white;
    padding: 10px;
}

header > nav > a:hover {
    background-color: var(--color02);
    text-decoration: underline;
    color: var(--color05);
}

main {
    background-color: var(--color03);
    max-width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.466);
}

article {
    max-width: 100%;
    max-height: 90%;
}

article > img{
    border-radius: 200px;
    display: block;
    max-width: 30%;
    padding-top: 10px;
    margin: auto;
}

article > h1.titulo {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    color: white;
    max-width: 100%;
}

article > .skill {
    margin: auto;
    text-align: center;
    max-width: 100%;
    color: grey;
    padding: 5px;
}

article > h2 {
    background-image: linear-gradient(to right, var(--color01), var(--color03));
    text-align: left;
    text-indent: 5px;
    margin-top: 10px;
    max-width: 60%;
    color: white;
}

article > p {
    text-align: justify;
    text-indent: 20px;
    margin-top: 10px;
    max-width: 100%;
    padding: 0px 10px 10px 10px;
    color: white;
}