:root{
    --cor01: #21FFF5;
    --cor02: #1EBCE8;
    --cor03: #2F9BFF;
    --cor04: #1E51E8;
    --cor05: #2321FF;

    --python01: #05AFF2;
    --python02: #0597F2;
    --python03: #F2A413;
    --python04: #F2CB05;
    --python05: #262626;

}

h1.title{
    margin-left: -10%;
    background-image: linear-gradient(to right, var(--cor03), var(--cor05));
}

h2{
    text-align: center;
    margin-bottom: 10px;
    background-color: var(--cor04);
}


p{
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;
}

a.link{    color: var(--cor02);
    padding: 3px;
    background-image: linear-gradient(to right, var(--cor04), transparent);
}

a.link::after{
    content: '\1F517';
}


span{
    margin-top: 10px;
    background-image: linear-gradient(to right, var(--python01), var(--python04));
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0px;
}

.button{
    text-align: center;
    margin-top: 50px;
}

.efeito{
    border: none;
    color: #ffffff;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    line-height: 25px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

.efeito1{
    background-color: var(--cor04);
}

.efeito1:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 10px;
    transition: all 2s ease;
}

.efeito1:hover:before{
    width: 100%;
}


.button > a:hover{
    text-decoration: underline;
    background-color: var(--cor02);
}

main{
    margin: auto;
    width: 80%;
}

main > section {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr;
}

main > article > section {
    max-width: 100%;
    padding: 20px;
}

main > article > section > img {
    max-width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}