@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

:root{
    --cor01: #FFFFFF;
    --cor02: #F3F3F3;
    --cor03: #D3EEFF;
    --cor04: #4679EC;

    --fontPadrao: 'Rubik', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    margin: 5px;
    height: 624px;
    background-color: var(--cor02);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.404);
}

header{
    padding: 2px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    background-color: var(--cor01);
}

header > nav > a{
    font-family: var(--fontPadrao);
    text-decoration: none;
    font-weight: 300;
    color: black;
    margin: 10px;
}

h1#title-menu{
    font-family: var(--fontPadrao);
    font-weight: 500;
    color: var(--cor04);
}

main{
    max-width: 80%;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--cor01);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.404);
    border-radius: 20px;
}

section.cont-contato{
    display: flex;
    flex-direction: column;
}

div.bloco-entrada{
    display: flex;
    flex-direction: row;
}

h2.title-contato{
    font-family: var(--fontPadrao);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 7px;
}

div.bloco-entrada > input{
    width: 90%;
    padding: 10px;
    border: none;
    margin: auto;
    margin-top: 7px;
    font-size: 20px;
    font-family: var(--fontPadrao);
    font-weight: 500;
    color: var(--cor04);
    background-color: var(--cor03);
    border-radius: 20px;
}

input#primeiro-input{
    margin-bottom: 15px;
}

div.mensagem{
    display: flex;
    flex-direction: column;
}

div.mensagem > h2{
    font-family: var(--fontPadrao);
    font-weight: 500;
    font-size: 20px;
    color: var(--cor04);
    text-align: center;
}

div.mensagem > input{
    height: 200px;
    border: none;
    margin: 10px;
    border-radius: 20px;
    background-color: var(--cor03);
}

div.icone-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}