@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,500&display=swap');

:root{
    --cor01: #FFFFFF;
    --cor02: #F3F3F3;
    --cor03: #D3EEFF;
    --cor04: #4679EC;
    --cor05: #2c2a2a;

    --html01: #E54C21;
    --html02: #F16524;

    --css01: #264DE4;
    --css02: #2965F1;

    --descon01: #C50000;

    --pandas01: #417199;
    --pandas02: #FDBE33;

    --opencv01: #00FF03;
    --opencv02: #FF0201;
    --opencv03: #0600FF;

    --python01: #FBD35A;
    --python02: #2B7EB2;
    --python03: #009600;

    --tensorflow01: #FE8C00;
    --tensorflow02: #FF9A00;
    --tensorflow03: #FFA302;

    --fontPadrao: 'Rubik', sans-serif;
}

main{
    margin-top: 10px;
    min-width: 600px;
}

main > h2{
    background-image: linear-gradient(to right, var(--cor04), transparent);
    font-family: var(--fontPadrao);
    text-indent: 5px;
    width: 50%;
    font-weight: 500;
    font-size: 30px;
    color: var(--cor01);
}

section.cont-project{
    width: 100%;
    min-width: 600px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

div.recursos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div.recursos > span{
    margin: 10px;
}

div.recursos > span.python{
    background-color: var(--python03);
    font-family: var(--fontPadrao);
    font-weight: 400;
    color: var(--cor01);
    border-radius: 5px;
    padding: 5px;
}

div.recursos > span.tensorflow{
    background-image: linear-gradient(to right, var(--tensorflow01), var(--tensorflow03));
    font-family: var(--fontPadrao);
    font-weight: 400;
    color: var(--cor01);
    border-radius: 5px;
    padding: 5px;
}

div.recursos > span.keras{
    background-color: var(--keras01);
    font-family: var(--fontPadrao);
    font-weight: 400;
    color: var(--cor01);
    border-radius: 5px;
    padding: 5px;
}

div.recursos > span.pandas{
    background-image: linear-gradient(to right, var(--pandas01), var(--pandas02));
    font-family: var(--fontPadrao);
    font-weight: 400;
    color: var(--cor01);
    border-radius: 5px;
    padding: 5px;
}

div.recursos > span.opencv{
    background-image: linear-gradient(to right, var(--opencv01), var(--opencv03));
    font-family: var(--fontPadrao);
    font-weight: 400;
    color: var(--cor01);
    border-radius: 5px;
    padding: 5px;
}

div.recursos > span.descontinuado{
    background-color: var(--descon01);
    font-family: var(--fontPadrao);
    font-weight: 400;
    color: var(--cor01);
    border-radius: 5px;
    padding: 5px;
}

div.recursos > span.html{
    background-image: linear-gradient(to right, var(--html01), var(--html02));
    font-family: var(--fontPadrao);
    font-weight: 400;
    color: var(--cor01);
    border-radius: 5px;
    padding: 5px;
}

div.recursos > span.css{
    background-image: linear-gradient(to right, var(--css01), var(--css02));
    font-family: var(--fontPadrao);
    font-weight: 400;
    color: var(--cor01);
    border-radius: 5px;
    padding: 5px;
}

section.cont-project > div{
    padding: 10px;
    width: 50%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.cont-project > div > img{
    max-width: 80%;
    display: block;
    margin: auto;
}

section.cont-project > div > h3{
    font-family: var(--fontPadrao);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--cor05);
}

section.cont-project > div > p{
    font-family: var(--fontPadrao);
    text-align: justify;
    text-indent: 20px;
    font-weight: 400;
    margin-top: 10px;
}

section.cont-project > div > a{
    text-decoration: none;
    color: var(--cor05);
}

section.cont-project > div > a:hover{
    text-decoration: underline;
    color: var(--cor01);
}

section.cont-project > div > a > h3{
    background-color: var(--cor04);
    font-family: var(--fontPadrao);
    color: var(--cor01);
    text-align: center;
    margin-top: 10px;
    text-indent: 20px;
    font-weight: 400;
    padding: 10px;
}